---
import type { ResumeSchema } from "@kurone-kito/jsonresume-types";
import { astroI18n, t } from "astro-i18n";
import SectionTitle from "../SectionTitle.astro";
import { formatDate } from "../../utils/formatDate";

const { certificates } = Astro.props;

interface Props {
  certificates: ResumeSchema["certificates"];
}
---

<section>
  <SectionTitle>{t("section.certificates")}</SectionTitle>
  {
    certificates?.map((certificate) => {
      certificate.dateParsed = certificate.date ? formatDate(certificate.date, astroI18n.locale) : undefined;
      return (
        <>
          <h4 class="font-semibold">
            <a href={certificate.url || undefined}>{certificate.name}</a>
          </h4>
          <div class="flex">
            <p class="flex-1">{certificate.issuer}</p>
            <p class="font-semibold">{certificate.dateParsed}</p>
          </div>
        </>
      );
    })
  }
</section>
