---
import { t } from "astro-i18n";
import SectionTitle from "../SectionTitle.astro";
import type { ResumeSchema } from "@kurone-kito/jsonresume-types";
import { Icon } from "astro-icon/components";

const { profiles } = Astro.props;

interface Props {
  profiles: Required<ResumeSchema>["basics"]["profiles"];
}

function renderIcon(network: string) {
  switch (network.toLowerCase()) {
    case "linkedin":
      return "logos:linkedin-icon";
    case "twitter":
    case "x":
      return "logos:twitter";
    case "github":
      return "logos:github-icon";
    case "medium":
      return "logos:medium-icon";
    case "codepen":
      return "logos:codepen-icon";
    case "bitbucket":
      return "logos:bitbucket";
    case "npm":
      return "logos:npm-icon";
    case "youtube":
      return "logos:youtube-icon";
    case "stackoverflow":
      return "logos:stackoverflow-icon";
    default:
      return undefined;
  }
}
---

<section>
  <SectionTitle>{t("section.socialMedia")}</SectionTitle>
  <div class="flex flex-wrap gap-2">
    {
      profiles?.map((profile) => {
        profile.icon = renderIcon(profile.network || "");
        return (
          <a href={profile.url || undefined} class="inline-flex items-center">
            {profile.icon && <Icon name={profile.icon} class="mr-1" />}
            {profile.username}
          </a>
        );
      })
    }
  </div>
</section>
