---
import { t } from "astro-i18n";
import SectionTitle from "../SectionTitle.astro";
import type { ResumeSchema } from "@kurone-kito/jsonresume-types";

const { skills } = Astro.props;

interface Props {
  skills: ResumeSchema["skills"];
}
---

<section>
  <SectionTitle>{t("section.skills")}</SectionTitle>
  <div class="grid grid-cols-2 gap-2">
    {
      skills?.map((skill) => {
        return (
          <div>
            <h4 class="font-semibold">{skill.name}</h4>
            <p>{skill.level}</p>
            <p>{skill.keywords?.join(", ")}</p>
          </div>
        );
      })
    }
  </div>
</section>
